#bd-ab{
    background-image: linear-gradient(1deg, rgb(32, 32, 32) 40%, transparent);
}


#first-container-ab {
    background-color: blue;
color: white;
padding: 25px;
}

#first-child-ab{
    margin-top: 80px;
line-height: 0.6;
}

#first-main-ab {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    margin-left: 30px;
    margin-top: 25px;
}

#play-ab {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 50px; 
    height: 50px;
    border: solid black 2px; 
    background-color: greenyellow; 
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

#play-ab i {
    font-size: 20px; 
}

#first-main-ab p {
    margin: 0; 
    font-size: 12px; 
    font-weight: bold; 
    border: solid white 2px; 
    padding: 5px;
    color: white;
    border-radius: 5px;
}
#first-main-ab p:hover{
    background-color: rgb(164, 155, 155);
    cursor: pointer;
}
#first-main-ab .fa-ellipsis {
    font-size: 20px; 
    cursor: pointer; 
    color: white;
}

main{
display: flex;
gap: 60px;
margin-top: 40px;
margin-left: 30px;
color: white;
font-weight: bold;
}

/* tabella */
.table tr th{
    background-color: transparent;
    color: white;
    border: 0px;
}

#tabella-popolarix5 tr td{
    background-color:transparent;
    color: white;
    border: 0px;
}

#tabella-popolarix10 tr td{
    background-color: transparent;
    color: white;
    border: 0px;
} 

#tabella-popolarix5  tr td:nth-child(3){
    /* background-color: red; */
    padding-right: 100px;
    align-content: center;
    text-wrap: nowrap;
}

#tabella-popolarix5  tr td:nth-child(1){
    /* background-color: red; */
    align-content: center;
    text-align: center;
}

#tabella-popolarix5  tr td:nth-child(4){
    /* background-color: red; */
    align-content: center;
    padding-right: 100px;
    text-align: center;
}


#tabella-popolarix5  tr td:nth-child(5){
    /* background-color: red; */
    align-content: center;
    text-align: end;
}


/* da fare seconda tabella */
#tabella-popolarix10  tr td:nth-child(3){
    /* background-color: red; */
    padding-right: 100px;
    align-content: center;
    text-wrap: nowrap;
}

#tabella-popolarix10  tr td:nth-child(1){
    /* background-color: red; */
    align-content: center;
    text-align: center;
}

#tabella-popolarix10  tr td:nth-child(4){
    /* background-color: red; */
    align-content: center;
    padding-right: 100px;
    text-align: center;
}


#tabella-popolarix10  tr td:nth-child(5){
    /* background-color: red; */
    align-content: center;
    text-align: end;
}


/* pulsanti vis e riduci */
#btn-visualizza-altri-ST{
    background-color: transparent;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: none;
    padding-left: 35px;
    color: grey;
    font-weight: bold;
}

#btn-visualizza-altri-ST:hover{
    color: rgb(164, 155, 155);
    cursor: pointer;
}

#riduci-ST{
    background-color: transparent;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: none;
    padding-left: 35px;
    color: grey;
    font-weight: bold;
}

#riduci-ST:hover{
    color: rgb(164, 155, 155);
    cursor: pointer;
}








